{% extends "layout.html" %}
{% load static %}

{% block title %}Forgot Password | URL.ly{% endblock %}

{% block content %}
<div class="w-full flex flex-col items-center pt-24 pb-24 px-4 min-h-[calc(100vh-100px)]">
    {% if user.is_authenticated %}
    <a href="{% url 'u:home' %}" class="flex items-center justify-center mb-6 text-3xl font-bold text-gray-900">
        <img class="w-10 h-10 mr-2" src="{% static 'logo.png' %}" alt="logo">URL.LY
    </a>
    {% else %}
    <a href="{% url 'index' %}" class="flex items-center justify-center mb-6 text-3xl font-bold text-gray-900">
        <img class="w-10 h-10 mr-2" src="{% static 'logo.png' %}" alt="logo">URL.LY
    </a>
    {% endif %}
    <div class="my-auto w-full bg-gray-50 rounded-2xl shadow-md border border-gray-100 overflow-hidden sm:max-w-md">
        <div class="p-6 sm:p-12">
            <form method="post">
                {% csrf_token %}
                <h1 class="text-center font-bold text-gray-900 text-xl mb-6">Reset Password</h1>
                <p class="text-center text-gray-600 mb-6 text-sm">Please enter your registered email to receive a
                    password reset link.</p>

                <div class="mt-4">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
                    <input type="email" name="email" id="email"
                        class="bg-white text-gray-900 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 border border-gray-300 rounded-lg py-3 px-4 block w-full appearance-none transition"
                        placeholder="example@gmail.com" required="">
                </div>

                <div class="mt-6">
                    <button type="submit"
                        class="w-full tracking-wide font-semibold bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition shadow-sm flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                        Send Reset Link
                    </button>
                </div>

                <div class="mt-6 text-sm font-light text-gray-500 text-center">
                    Remembered your password? <a href="{% url 'a:login' %}"
                        class="font-medium text-blue-600 hover:underline">Login here</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}