{% extends "layout.html" %}
{% load static %}


{% block content %}

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="{% url "home" %}" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="{% static "logo.png" %}" alt="logo">
                URL.LY
        </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <form class="space-y-4 md:space-y-6" method="post">
        {% csrf_token %}
        <h1 class="text-center">Please enter your reqistered email to reset passowrd</h1>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Email" required="">
        </div>
        <button type="submit" class="btn btn-primary">reset Password</button>
    </form>
</div>
</div>
</div>
{% endblock %}