{% load static %}

<div id="flash-alert" class="fixed top-16 left-1/2 transform -translate-x-1/2 z-50 w-auto max-w-md px-6 py-4 rounded-lg shadow-lg bg-white text-gray-800 border border-gray-200
        dark:bg-gray-400/30 dark:text-white/80 dark:border-gray-700 transition-transform duration-300 ease-out alert alert-{{message.tags}}">
    <strong class="text-sm">{{ message }}</strong>
    <button id="alert-close" class="ml-4 text-gray-400 hover:text-gray-600 dark:hover:text-gray-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>