{% load static %}
{% if debug %}
  {% load static tailwind_tags %}
{% endif %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% if debug %}
      {% tailwind_css %}
    {% else %}
      <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="flex flex-col min-h-screen h-full w-full m-0 p-0 bg-gradient-to-br from-blue-100 via-white to-blue-200 dark:from-gray-900 dark:via-gray-800 dark:to-gray-900">

  {% include "navbar.html" %}

  {% comment %} alert messages {% endcomment %}
  <div>
    {% if messages %}
      {% for message in messages %}
        {% include "alert.html" with message=message %}
      {% endfor %}
    {% endif %}
  </div>

  <!-- Main Content Wrapper -->
  <main class="flex-1 pt-4 w-full">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  {% include "footer.html" %}

  {% block scripts %}{% endblock %}
<script src="{% static 'main/js/alert.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@latest/dist/flowbite.min.js"></script>
</body>
</html>